html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* THIS SHOULD BE IN BOOTSTRAP, NOT HERE */
.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

/* The Parking Lot */
#avatar {
    width: 100px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 30px;
    float: left;
}

    #avatar img, .avatar {
        border-radius: 10px;
    }

#avatar-text {
    padding-top: 5px;
    width: 200px;
    position: relative;
    min-height: 1px;
    float: left;
}

.selector {
    text-align: right;
    margin-top: 20px;
}

#leaderboard {
    clear: both;
}

i.logo {
    font-family: inherit;
    font-size: 11px;
    color: black;
    font-weight: 900;
}

#champions td, #members td {
    vertical-align: middle;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-middle {
    vertical-align: middle;
}

th.border-left, td.border-left {
    border-left: 1px solid #ddd;
}